.background{
    -fx-background-color: linear-gradient(to top right, #0D182A, #3A5D73);
    /*-fx-background-color: linear-gradient(to top right, #01374f, #597162);*/
}

.chartTextField{
    -fx-background-color: #20333D;
    -fx-background-radius: 5;
}

.label{
    -fx-text-fill: rgba(255, 255, 255, 0.68);
    -fx-font-size: 22px;
    -fx-wrap-text: true;
    -fx-alignment: center;
    /*-fx-font-weight: bold;*/
}
.lineChart{
    -fx-border-color: rgba(24, 24, 35, 0.68);
    -fx-border-width: 6;
    -fx-border-radius: 30;
    /*-fx-background-color: #4a4545;*/
    -fx-text-fill: #00ffc4;
}
.cards{ /* Before click */
    accent-color: #ffffff;
    -fx-background-radius: 20;
    -fx-background-color: linear-gradient(to top right, rgba(30, 30, 41, 0.66), rgba(33, 36, 47, 0.7));
    -fx-border-color: rgba(24, 24, 35, 0.68);  /*181823*/
    /*-fx-background-color: linear-gradient(to top right, rgb(78, 88, 109), rgb(78, 88, 109));*/
    /*-fx-border-color: rgb(28, 27, 27);  !*181823*!*/
    -fx-border-width: 8;
    -fx-border-radius: 20;
}
.cards2{ /* After click */
    -fx-background-radius: 20;
    -fx-border-width: 8;
    -fx-border-radius: 20;
    -fx-background-color: linear-gradient(to top right, #03433b, #24423a);
    -fx-border-color: rgba(31, 31, 40, 0.68);  /*181823*/
    /*-fx-background-color: linear-gradient(to top right, #8a8a8a, #8a8a8a);*/
    /*-fx-border-color: rgb(70, 69, 69);  !*181823*!*/

}
.side_frame-left{
    -fx-background-color: #425e72;
    /*-fx-effect: innershadow(gaussian, rgba(0,0,0,0.5), 10, 0.0, 0, 5);*/
}
.buttonHP{
    -fx-background-color: transparent;
    -fx-background-radius: 20;
    /*when clicked on*/
    /*-fx-background-color:#19212A;*/
}
.buttonMenuHP{
    -fx-background-color: #35323D;
    -fx-background-radius: 20;
}
.topBar{
    -fx-background-color: linear-gradient(to top right, rgba(31, 36, 45, 0.58), rgba(48, 43, 55, 0.56));
    /*-fx-background-color: linear-gradient(to top right, #102837, #3b5141);*/
    -fx-background-radius: 20;
}

@font-face {
    font-family: 'Exo-Light';
    src: url('Exo-Light.ttf');
}

.table-view {
    -fx-background-color: #15171e;
}

.table-view .column-header {
    -fx-font-family: Exo-Light;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-color: #1d303e;
    -fx-alignment: CENTER;
    -fx-border-color: rgb(28, 27, 27);
    -fx-border-width: 1;
}

.table-row-cell {
    -fx-font-family: "Calibri Light";
    -fx-text-fill: white;
    -fx-font-size: 14;
    -fx-text-alignment: center;
    -fx-alignment: CENTER;

    -fx-background-color: #15171e;
    -fx-pref-height: 20;

    -fx-border-color: rgb(28, 27, 27);
    -fx-vertical-grid-lines-visible: false;
    -fx-border-width: 1;
}

/*.chart {*/
/*    -fx-padding: 10px;*/
/*}*/
/*.chart-content {*/
/*    -fx-padding: 30px;*/
/*}*/

.chart-vertical-grid-lines {
    -fx-stroke: transparent;
}
.chart-horizontal-grid-lines {
    -fx-stroke: #3f454a;
}
.chart-alternative-row-fill {
    -fx-fill: #1c2f42;
    -fx-stroke: transparent;
    -fx-stroke-width: 0;
}

.chart-plot-background {
    -fx-background-color: transparent;}

.chart-series-line {
    -fx-stroke-width: 2px;
    -fx-effect: null;
}

.default-color0.chart-series-line { -fx-stroke: #959191; }


.default-color0.chart-line-symbol { -fx-background-color: #7f7e81, white; }
